*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url("./wallpaper.jpeg");
    font-family: Inter;
    color: white;
}
.body-title{
    text-align: center;
    color: white;
}